<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div th:insert="~{/index::header}"></div>
<div class="container-fluid" th:object="${blog}">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 th:text="${blog.title}"></h1>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <img class="float-left" width="80%" height="auto" th:src="@{'/getImg/'+${blog.linkImg}}">
        </div>
        <div class="col-lg-8">
            <p th:text="${blog.content}"></p>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<script src="/js/jquery-3.5.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>