<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .list-group{
        padding-top: 30px;
    }
    .color{
        color: black;
    }
    /*header{*/
    /*    position: fixed;*/
    /*    width: 100%;*/
    /*}*/


</style>
<body style="background: black" >
    <header  th:fragment="header" >
        <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/home}">Trang chủ<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/create}" >Viết bài</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Quản lý danh mục
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" th:href="@{/create_category}">Thêm mới danh mục</a>
                            <a class="dropdown-item" th:href="@{/list_category}">Hiển thị danh sách danh mục</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            The loai
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a th:each="c: ${categories}" class="dropdown-item" th:href="@{/category/__${c.id}__}" th:text="${c.name}"></a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
                </form>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="text-center text-primary" th:if="${msg}" th:text="${msg}"></h2>
            </div>
            <!--    <div class="position-fixed">-->
            <!--        <a class="position-fixed" th:href="@{/home}">-->
            <!--            <img height="50px" width="50px" src="https://img.icons8.com/emoji/256/up-arrow-emoji.png">-->
            <!--        </a>-->
            <!--    </div>-->
        </div>
        <div style="padding: 65px 300px 1px 300px" class="list-group" th:each="b:${blogs}"  >
            <div style="background: white" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1 color" th:text="${b.title}"></h5>
                    <small class="color" th:text="${b.date}"></small>
                </div>
                <p class="mb-1 color" th:text="${b.content}"></p>
                <div class="col-md-4" style=" display: inline">
                    <img  width="100%" height="100%" th:src="@{'/getImg/'+${b.linkImg}}" alt="...">
                </div>
                <small class="color" th:text="${b.category.name}"></small>
                <br>
                <br>
                <div> <a  class="btn btn-primary mb-1 " href="https://www.facebook.com/www.cdtm.edu.vn/photos/a.123647341155958/2230917453762259/">Xem bai viet</a>
                    <a  class="btn btn-primary mb-1"  th:href="@{/update/__${b.id}__}">Chinh sua</a>
                    <a  class="btn btn-primary mb-1" th:href="@{/remove/__${b.id}__}">Xoa bai viet</a></div>
                <input style="display: inline-block; border-radius: 10px" type="text" placeholder="Viet binh luan cong khai..">
                <img height="20px" width="20px" src="https://img.icons8.com/external-inkubators-blue-inkubators/256/external-send-ecommerce-user-interface-inkubators-blue-inkubators.png">
            </div>
        </div>

    </div>
</div>
<div style="text-align: center">
    <div style=" display: inline-block" th:if="${blogs.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <a style="font-size: 30px; border: 1px solid blue" th:href="@{/home(size=${blogs.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==blogs.number + 1} ? active"></a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>