<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body style="background: black">
<header  th:fragment="header" >
  <nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/home}">Trang chủ<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/create}" >Viết bài</a>
        </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 Quản lý danh mục
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" th:href="@{/create_category}">Thêm mới danh mục</a>
                  <a class="dropdown-item" th:href="@{/list_category}">Hiển thị danh sách danh mục</a>
              </div>
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" action="/search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" >Search</button>
      </form>
    </div>
  </nav>
</header>
<div class="container-fluid">
<div class="row">
  <div class="col-lg-12">
    <h2 class="text-center text-primary" th:if="${msg}" th:text="${msg}"></h2>
  </div>
</div>
<div  th:each="b:${blogs}" style="margin-left: 300px; margin-right: 300px; margin-top: 50px; background: #000000; padding:50px; border: 2px solid #ffffff">
    <div style="color: #005cbf" >
      <h5 style="display: inline-block" th:text="${b.title}"> </h5>
      <span th:text="${b.date}"></span>
        <span style="margin-left: 350px; font-size: 20px" th:text="${b.category.name}"></span>
      <p  th:text="${b.content}"></p>
    </div>
    <video controls style="margin-left: 30px;height: 600px; width:800px" >
      <source th:src="@{'/getImg/'+${b.linkImg}}" alt="..." >
    </video>
    <div> <a  class="btn btn-primary" href="https://codegym.vn/blog/2020/06/11/truy-van-du-lieu-thong-qua-spring-data-jpa">Xem bai viet</a>
      <a  class="btn btn-primary"  th:href="@{/update/__${b.id}__}">Chinh sua</a>
      <a  class="btn btn-primary" th:href="@{/remove/__${b.id}__}">Xoa bai viet</a></div>
  <br>
  <br>
  <br>
</div>
</div>
<div style="text-align: center">
    <div style=" display: inline-block" th:if="${blogs.totalPages > 0}"
         th:each="pageNumber : ${pageNumbers}">
        <a style="font-size: 30px; border: 1px solid blue" th:href="@{/home(size=${blogs.size}, page=${pageNumber})}"
           th:text="${pageNumber}"
           th:class="${pageNumber==blogs.number + 1} ? active"></a>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>