<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .validate{
        color: red;
    }
    body{
        background: black;
    }
    .label_form{
        color: white;
        font-size: 25px;
    }
</style>
<body>
<h1 style="text-align: center; margin-top: 30px; color: white">Create User</h1>
<form style="padding: 30px 100px 100px 100px" action="/create" method="post" th:object="${user}">
<!--    <input th:field="*{id}" hidden>-->
    <div class="form-row" >
        <div class="form-group col-md-6">
            <label class="label_form" >First Name</label>
            <span style="color: red">*</span>
            <input th:field="*{firstName}" class="form-control"  placeholder="First name">
            <span class="validate" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
        </div>
        <div class="form-group col-md-6">
            <label class="label_form" >Last Name</label>
            <span style="color: red">*</span>
            <input th:field="*{lastName}"  class="form-control"  placeholder="Last nam">
            <span class="validate" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label class="label_form" >Phone Number</label>
            <span style="color: red">*</span>
            <input th:field="*{phoneNumber}" class="form-control"  placeholder="Phone number">
            <span class="validate" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
        </div>
        <div class="form-group col-md-6">
            <label class="label_form" >Age</label>
            <span style="color: red">*</span>
            <input th:field="*{age}"  class="form-control"  placeholder="Age">
            <span class="validate" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="label_form" >Email</label>
        <span style="color: red">*</span>
        <input th:field="*{email}" type="email" class="form-control"  placeholder="Email">
        <span class="validate" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <input type="submit" value="Submit"  class="btn btn-success">
</form>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>