<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="/user/assets/img/favicon.png" rel="icon">
    <link href="/user/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/user/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/user/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/user/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/user/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/user/user/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/user/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="/user/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="/user/assets/css/style.css" rel="stylesheet">
    <link href="/user/list/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Sailor
    * Updated: Mar 10 2023 with Bootstrap v5.2.3
    * Template URL: https://bootstrapmade.com/sailor-free-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


<body>
<div th:insert="~{user/index::header}"></div>
<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details" style="margin-top: 50px">
        <div class="container">

            <div class="row gy-4" >

                <div class="col-lg-8" style="display:inline-block;">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                            <div class="swiper-slide" >
<!--                                <img   th:src="@{'/getImg/'+${sanPham.linkImg}}" alt="...">-->
                                <img   th:src="@{'/getImg/'+${sanPham.linkImg}}" alt="...">
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4" style="display:inline-block;">
                    <div class="portfolio-info">
                        <h1  th:text="${sanPham.idSanPham}" hidden></h1>
                        <h1  th:text="${sanPham.idSanPham}" hidden></h1>
                        <h3 th:text="${sanPham.tenSanPham}"></h3>
                        <ul>
                            <li th:text="'Ten shop: '+${sanPham.shop.tenShop}"><strong>Ten shop: </strong></li>
                            <li th:text="'Loai sản phẩm: '+${sanPham.danhMuc.getTenDanhMuc()}"><strong>Loai San Pham: </strong></li>
                            <li th:text="'Chi phi: '+${sanPham.gia}+'đ'"><strong>Chi phi: </strong></li>
                            <li th:text="'Dia chi: '+${sanPham.shop.diaChi}"><strong>Dia chi: </strong></li>
                            <li th:text="'Email: '+${sanPham.shop.email}" ><strong>Email: </strong></li>
                            <li th:text="'Hot line: '+${sanPham.shop.hotLine}"><strong>Hot line: </strong></li>
                        </ul>
                    </div>
                    <div style="padding: 30px" class="portfolio-description">
                        <h2>Mo ta sản phẩm</h2>
                        <p  th:text="${sanPham.moTa}"></p>
                    </div>
                    <a class="btn btn-outline-success" style="margin-left: 30px" th:href="@{/dh/__${sanPham.idSanPham}__}" >Dat hang</a>
                    <a th:href="@{/gh/__${sanPham.idSanPham}__}" type="button" class="btn btn-outline-warning">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                        </svg>
                        Thêm vào giỏ hàng
                    </a>
                </div>
            </div>
            <!--            thong tin shop-->
            <nav style="background:#2d4660; margin-top: 10px">
                <div class="container">
                    <ul>
                        <li><a href=""><img style="width: 100px;border-radius: 50%" src="https://media.istockphoto.com/id/1259018485/vi/vec-to/logo-c%E1%BB%ADa-h%C3%A0ng-th%C3%BA-c%C6%B0ng-h%C3%ACnh-minh-h%E1%BB%8Da-vector-thi%E1%BA%BFt-k%E1%BA%BF-ph%E1%BA%B3ng-thi%E1%BA%BFt-k%E1%BA%BF-ch%C3%B3-v%C3%A0-m%C3%A8o-cho-c%E1%BB%ADa-h%C3%A0ng.jpg?s=612x612&w=0&k=20&c=eXr10sod-4CdqURgTBkHAiS7GuBIKxbbCS4V9WKuuak=" alt=""></a></li>
                        <li><a th:text="${tenChuShop}" href=""></a>  <br> <a class="btn btn-outline-warning" style="color: white" >Xem shop</a><a class="btn btn-outline-secondary" style="color: white;margin:10px">Chat ngay</a></li>
                        <li><a href=""> San pham  <br> <a th:text="${soLuongSanPham}"  style="color: white" ></a></a></li>
                        <li><a href=""> Dich vu  <br> <a th:text="${soLuongDichVu}"  style="color: white" ></a></a></li>
                        <li><a href=""> Ty le phan hoi  <br> <a style="color: white" >98%</a></a></li>
                        <li><a href=""> Thoi gian phan hoi  <br> <a style="color: white" >trong vai gio</a></a></li>
                        <li><a href=""> Tham gia vao  <br> <a style="color: white" >2 thang truoc</a></a></li>
                    </ul>
                </div>
            </nav>

            <!--            cac dich vu co lien quan-->
            <!--    Dich vu-->
            <section class="product-galary-one">
                <div class="container">
                    <div class="product-galary-one-content">
                        <div class="product-galary-one-content-title">
                            <h2>Sản phẩm liên quan</h2>
                            <ul>
                                <li><a href="">Sản phầm dành cho chó</a></li>
                                <li><a href="">Sản phẩm dành cho mèo</a></li>
                                <li><a href="">Sản phẩm dành cho chim</a></li>
                                <li><a href="">Xem tất cả sản phẩm</a></li>
                            </ul>
                        </div>
                        <div class="product-galary-one-content-product" >
                            <div class="product-galary-one-content-product-item" th:each="sp :${sanPhams}">
<!--                                <img style="max-width: 100%"  th:src="@{'/getImg/'+${sanPham.linkImg}}" alt="...">-->
                                <img   th:src="@{'/getImg/'+${sp.linkImg}}" alt="...">
                                <div class="product-galary-one-content-product-item-text">
                                    <li><img src="https://img.tgdd.vn/imgt/f_webp,fit_outside,quality_100/https://cdn.tgdd.vn/2020/10/content/icon6-50x50.png" alt=""><p> GIẢM 1TR SS WALLET</p></li>
                                    <li> <a th:text="${sp.tenSanPham}" href="#"></a></li>
                                    <li> <a th:text="${sp.danhMuc.tenDanhMuc}"></a></li>
                                    <li> <a th:text="${sp.gia}"></a>đ</li>
                                    <li> <a class="btn btn-outline-success" th:href="@{/sp/__${sp.idSanPham}__}">Xem chi tiết</a>
                                        <a th:href="@{/gh/__${sanPham.idSanPham}__}" type="button" class="btn btn-outline-warning">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
                                                <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
                                            </svg>
                                            Giỏ hàng
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </li>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div style="text-align: center">
                <div style=" display: inline-block ;width: 30px;height: 30px; border: 1px solid #008cff; color: #008cff; " th:if="${dichVus.totalPages > 0}"
                     th:each="pageNumber : ${pageNumbers}">
                    <a  th:href="@{/services(size=${dichVus.size}, page=${pageNumber})}"
                        th:text="${pageNumber}"
                        th:class="${pageNumber==dichVus.number + 1} ? active"></a>
                </div>
            </div>


        </div>
    </section><!-- End Portfolio Details Section -->


</main><!-- End #main -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<div th:insert="~{user/index::footer}"></div>
<!-- Vendor JS Files -->
<script src="/user/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/user/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/user/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/user/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/user/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/user/assets/vendor/php-email-form/validate.js"></script>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<!-- Template Main JS File -->
<script src="/user/assets/js/main.js"></script>
<script src="/user/list/script.js"></script>

</body>

</html>