<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/user/singUp" method="post" th:object="${user}">
  <input th:field="*{maTaiKhoan}" hidden><br><br>
  <label>Nhap ten tai khoan</label>
  <input th:field="*{tenTaiKhoan}" placeholder="Nhap ten tai khoan"><br><br>
  <label>Nhap mat khau</label>
  <input th:field="*{matKhau}" placeholder="Nhap mat khau"><br><br>
  <input th:field="*{trangThai}" hidden><br><br>
  <input th:field="*{role}"  hidden><br><br>

  <!--    <select th:field="*{role}">-->
  <!--        <option th:each="r:${roles}" th:value="${r.roleId}" th:text="${r.roleName}"></option>-->
  <!--    </select><br><br>-->
  <input  th:field="*{role}" th:each="r:${roles}" th:value="${r.roleId}" th:text="${r.roleName}" name="role" hidden >
  <input type="submit" value="Submit">
</form>
</body>
</html>